---
layout: default
---
<div><h1 id="hititle">Hello World! How nice of you to drop by</h1></div>
  
<div><p class="frontpagepost"><a href="http://arghh.github.io/blog">
<b>Here</b></a> you will find my blog about the struggles of becoming a web developer.<br><br>
<img src="images/pr0grammer.gif" alt="programmer" id="programmergif"><br>
<i>(Couldn't find a better picture)</i></p></div>
<hr>
<div class="recentpost">
<article>
<h2 style="text-align: right">/recent post/</h2>
{% for post in site.posts offset:0 limit:1 %}
<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
<div class="entry">
    <div>{{ post.content | strip_html | truncatehtml | truncatewords: 25}}</div><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">continue reading</a>
  </div>
{% endfor %}
</article></div>
<hr>
<div id="allposts">
<ul>
<h2 style="text-align: right"><a href="http://arghh.github.io/blog">/archive/</a></h2> 
{% for post in site.posts %}
<ul>
<div>{{ post.date | date: "%B %e, %Y" }}  /  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
</ul>
{% endfor %}
</ul></div>
<hr>
<div>
  <h2 style="text-align: right">/contactme/</h2>
  <form action="//formspree.io/argoliivanurm@email.com" id="#contactForm">
    <label>Name</label><input type="text" name="name" placeholder="Your name">
    <label>Email</label><input type="email" name="_replyto" placeholder="Your email">
    <label>Submit</label><input type="submit" value="Send">
</form>

</div>
